@import "tailwindcss";

:root {
  --bg: "#ffffff";
  --fg: "#1a1a1a";
  --primary: "#3b82f6";
  --secondary: "#10b981";

  --x: 50vw;
  --y: 50vh;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-background: rgb(var(--bg));
  --color-foreground: rgb(var(--fg));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
}

/* @layer base {
  .dark {
    --color-background: rgb(26 26 26);
    --color-foreground: #f3f4f6;
    --color-primary: #60a5fa;
    --color-secondary: #34d399;
  }
} */
#theme-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  clip-path: circle(0 at var(--x) var(--y));
}

@keyframes reveal {
  from {
    clip-path: circle(0 at var(--x) var(--y));
  }
  to {
    clip-path: circle(150% at var(--x) var(--y));
  }
}

.theme-animating #theme-overlay {
  animation: reveal 300ms ease-out forwards;
}
